.nav-center{
    height: 50px;
    width: auto;
    background-color: aliceblue;
    box-shadow: 5px 7px 8px 0px rgba(163,138,138,0.75);
    padding: 10px 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.link a{
    padding: 10px;
    text-decoration: none;
}
.container{
    width: fit-content;
    height: fit-content;
    background-color: black;
    color: white;
    margin: 8% auto;
    padding: 10px;
    border-radius: 10px;
}
button{
    margin-left: 47%;
    height: 40px;
    border-radius: 7px;
    letter-spacing: 3px;
}
button:hover{
    cursor: pointer;
}